<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLinkActive="highlight1" [routerLink]="['home']">Home</a>
          <a class="nav-link" routerLinkActive="highlight1" [routerLink]="['databinding']">DataBinding</a>
          <a class="nav-link"  routerLinkActive="highlight1" [routerLink]="['dir','pradeep']">Directive</a>
          <a class="nav-link" routerLinkActive="highlight1" [routerLink]="['pipe']">Pipe</a>
          <a class="nav-link" routerLinkActive="highlight1" [routerLink]="['datasharing']">Data Sharing</a>
          <a class="nav-link" routerLinkActive="highlight1" [routerLink]="['projection']">Projection</a>
          <a class="nav-link" routerLinkActive="highlight1" [routerLink]="['templatedriven']">Template Driven</a>
          <a class="nav-link" routerLinkActive="highlight1" [routerLink]="['reactive']">Model Driven</a>
        </div>
      </div>
    </div>
  </nav>