<div class="row">
    <div class="col-lg-6 col-sm-9">

        <p>directive-sample works!</p>
        <h4>*ngIf</h4>
        <span>Enter a number:</span>
        <input type="text" [(ngModel)]="num" />

        <div *ngIf="num%2==0;then ifblock else elseblock"></div>

        <ng-template #ifblock>
            <p>Number is even</p>
        </ng-template>

        <ng-template #elseblock>
            <p>Number is odd</p>
        </ng-template>

        <h4>*ngFor</h4>
        <!-- <ul>
    <li *ngFor="let c of colors">
        {{c}}
    </li>
</ul> -->
        <select [(ngModel)]="selectedColor" class="form-select">
            <option *ngFor="let c of colors">{{c}}</option>
        </select>
        {{selectedColor}}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tbody>[class.r1]="prod.price != undefined && prod.price > 2000" [class.b1]="prod.price != undefined && prod.price<=2000" -->
                <!-- [style.color]="selectedColor" -->
                <tr *ngFor="let prod of products">
                    <td>{{prod.productId}}</td>
                    <td>{{prod.productCode}}</td>
                    <td>{{prod.productName}}</td>
                    <td>{{prod.price}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div appMycustom [my-color]="selectedColor" [data]="selectedColor">This is my div text</div>
<span appMycustom [my-color]="selectedColor" [data]="selectedColor">This is my span text</span>

<h4>Route Parameter: {{customerId}}</h4>
<h4>Querystring Parameter: {{city}}, {{country}}</h4>