/* You can add global styles to this file, and also import other style files */


.r1{
    background-color: red;
}

.b1{
    background-color: blue;
}

.g1{
    background-color: green;
    font-weight: bold;
}

.highlight1{
    background-color: gold;
    border-radius: 9px;
}